build/
*.o
*.a
doc/*.aux
doc/*.dvi
doc/*.log
doc/*.pdf
doc/date.tex
doc/version.tex
doc/fur.bbl
doc/fur.blg
doc/fur.toc
doc/text.tex
doc/cdf.eps
doc/cdf.tex
doc/eco105.tar.gz
doc/neighbors/
doc/targets/
doc/furDb/
doc/tmpl.fasta
doc/checkPrim.tex
doc/fur.loe
doc/fur2prim.tex
doc/furDoc.tex
doc/furIn.tex
doc/makeFurDb.tex
doc/prim2fasta.tex
doc/tutorial.tex
src/fur
src/fur.c
src/*.idx
src/*.awk
src/checkTut.sh
src/furTut.sh
src/makeFurDb
src/makeFurDb.c
scripts/checkTut.sh
scripts/furTut.sh
scripts/*.awk