*/*.go
test
bin
checklist.txt
data/eco2*
data/covid
data/sample.*
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.log
doc/checkPrim.tex
doc/cleanSeq.tex
doc/date.txt
doc/fur.tex
doc/fur2prim.tex
doc/furDoc.pdf
doc/furDoc.ps
doc/*.toc
doc/madis.tex
doc/makeFurDb.tex
doc/prim2fasta.tex
doc/prim2tab.tex
doc/scop.tex
doc/stream.tex
doc/tutorial.tex
doc/util.tex
doc/version.txt
docker/furDoc.pdf
docker/startFox.sh
experiments
# Databases
makeFurDb/*.db
fur/*.db
!fur/test.db

# Programs
checkPrim/checkPrim
cleanSeq/cleanSeq
fur2prim/fur2prim
fur/fur
madis/madis
makeFurDb/makeFurDb
prim2fasta/prim2fasta
prim2tab/prim2tab
scop/scop
stream/stream
stream/makeRes.sh

# Data files and figures
stream/memory.dat
stream/memory.ps
stream/time_*.dat
stream/time_*.ps
