*.a
*.o
*~
build/
checklist.txt
data/bug.fasta
doc/*.aux
doc/*.dvi
doc/*.log
doc/*.pdf
doc/cdf.eps
doc/cdf.tex
doc/checkPrim.tex
doc/cleanSeq.tex
doc/date.tex
doc/eco105.tar.gz
doc/fur.bbl
doc/fur.blg
doc/fur.loe
doc/fur.toc
doc/fur.ps
doc/fur2prim.tex
doc/furDb/
doc/furDoc.tex
doc/furIn.tex
doc/makeFurDb.tex
doc/neighbors/
doc/prim2fasta.tex
doc/senSpec.tex
doc/targets/
doc/text.tex
doc/tmpl.fasta
doc/tutorial.tex
doc/version.tex
docker/furTut.sh
docker/startFox.sh
scripts/*.awk
scripts/checkTut.sh
scripts/furTut.sh
src/*.awk
src/*.idx
src/checkPrim
src/checkTut.sh
src/cleanSeq
src/cleanSeq.go
src/count
src/fur
src/fur.c
src/fur2prim
src/furTut.sh
src/makeFurDb
src/makeFurDb.c
src/prim2fasta
src/senSpec